YKPX27_XMLTASK/YKPX27DOMRead.java/YKPX27XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ==================== -->
    <!-- ÖSSZETETT TÍPUSOK -->
    <!-- ==================== -->

    <!-- Név (összetett attribútum) -->
    <xs:complexType name="NevTipus">
        <xs:sequence>
            <xs:element name="vezeteknev" type="xs:string"/>
            <xs:element name="keresztnev" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Hallgató -->
    <xs:complexType name="HallgatoTipus">
        <xs:sequence>
            <xs:element name="nev" type="NevTipus"/>
            <xs:element name="szuletesi_datum" type="xs:date"/>
            <xs:element name="email" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="evfolyam" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Oktató -->
    <xs:complexType name="OktatoTipus">
        <xs:sequence>
            <xs:element name="nev" type="NevTipus"/>
            <xs:element name="beosztas" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="tanszek_ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- Tanszék -->
    <xs:complexType name="TanszekTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="iroda" type="xs:string"/>
            <xs:element name="telefon" type="xs:string"/>
            <xs:element name="kar" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Terem -->
    <xs:complexType name="TeremTipus">
        <xs:sequence>
            <xs:element name="epulet" type="xs:string"/>
            <xs:element name="terem_szam" type="xs:string"/>
            <xs:element name="ferohely" type="xs:integer"/>
            <xs:element name="tipus" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Felvétel (N:M kapcsolat attribútumokkal) -->
    <xs:complexType name="FelvetelTipus">
        <xs:sequence>
            <xs:element name="jegy" type="xs:integer"/>
            <xs:element name="teljesites_datuma" type="xs:date"/>
            <xs:element name="statusz" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="hallgato_ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- Kurzus -->
    <xs:complexType name="KurzusTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="kredit" type="xs:integer"/>
            <xs:element name="felev" type="xs:string"/>
            <xs:element name="oraszam" type="xs:integer"/>

            <!-- Felvételek -->
            <xs:element name="felvetelek">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="felvetel"
                                    type="FelvetelTipus"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="oktato_ref" type="xs:IDREF" use="required"/>
        <xs:attribute name="terem_ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <!-- ==================== -->
    <!-- GYŰJTŐ ELEMEK -->
    <!-- ==================== -->

    <xs:element name="egyetem">
        <xs:complexType>
            <xs:sequence>

                <!-- Tanszékek -->
                <xs:element name="tanszekek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tanszek"
                                        type="TanszekTipus"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Oktatók -->
                <xs:element name="oktatok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="oktato"
                                        type="OktatoTipus"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Hallgatók -->
                <xs:element name="hallgatok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hallgato"
                                        type="HallgatoTipus"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Termek -->
                <xs:element name="termek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="terem"
                                        type="TeremTipus"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Kurzusok -->
                <xs:element name="kurzusok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kurzus"
                                        type="KurzusTipus"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
